@{
    ViewData["Title"] = "Servicios";
}
@model AppWeb.CyaConsultorias.Models.ConfiguracionServiciosModel
<!-- bradcam_area  -->
<input id="serviceSectionView" value="@ViewData["serviceSectionView"]" hidden />
<div class="bradcam_area breadcam_bg_2" id="InitServicesId">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Nuestros Servicios</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- Soluciones -->
<div class="financial_solution_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="financial_active owl-carousel">
                    @foreach (var detailServiceList in Model.ServicesModel.Select(x => x.Details).ToList())
                    {
                        @foreach (var detailService in detailServiceList)
                        {
                            <div class="single_finalcial_wrap">
                                <h3>
                                    @Html.Raw(detailService.Title)
                                </h3>
                                <p>@detailService.Description</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="finance_thumb">
                    <img src="~/img/about/allservices1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ soluciones -->
<!-- servicios 1 -->
@foreach (var serviceItem in Model.ServicesModel)
{
    <div class="about_wrap_area" id="@serviceItem.Id" style="background-image: url(@serviceItem.UrlBigBackgroundImage)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-20">
                        <h3 style="color:white;">@Html.Raw(serviceItem.Title)</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var sectionItem in serviceItem.Sections)
                {
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service_wrap text-center">
                            <img src="@sectionItem.UrlIcon" alt="">
                            <a href="@sectionItem.Href">
                                <h3>@Html.Raw(sectionItem.Title)</h3>
                                <p>@sectionItem.Summery</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="portfolio_details_area">
        <div class="container">
            @foreach (var detailItem in serviceItem.Details)
            {
                <div class="row" id="@detailItem.Id">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="portfolio_details_content text-center mb-50">
                            <h3>@Html.Raw(detailItem.Title)</h3>
                            <p>@detailItem.Description</p>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="portfolio_details_thumb">
                            <img src="@detailItem.UrlImage" alt="">
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        let sectionView = $('#serviceSectionView').val();
        location.href = "#" + sectionView;
    });
</script>
